* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header,footer, section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

header {
  background: red;
  position: sticky;
  height: 10vh;
  top: 0;
}

section:nth-child(1) {
  height: 90vh;
  background: purple;
}

section:nth-child(2) {
  height: 100vh;
  background: orange;
}

section:nth-child(3) {
  height: 80vh;
}

footer {
  height: 10vh;
  background: black;
  color: white;
}